AS-2023-2024/5E-TPSIT/es-00/studentsList/classroom5E-AS-2023-2024-form1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Definition of Complex Type Student -->
	<xs:complexType name="studentType">
		<xs:element name="lastname" type="xs:string"/>
		<xs:element name="firstname" type="xs:string"/>
		<xs:element name="isMale" type="xs:boolean"/>
	</xs:complexType>
	<!-- Definition of complex type for students' List -->
	<xs:complexType name="studentsListType">
		<xs:sequence>
			<xs:element name="student" type="studentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Definition of the root element -->
	<xs:element name="studentsList" type="studentsListType"/>
</xs:schema>